body {
    overflow-x: hidden;
    background-color: rgba(53, 127, 180, 0.868) !important;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

h2 {
    padding: 45px 0 10px 0;
}

strong {
    font-size: 40px;
}

.container {
    padding: 20px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h5 {
    text-transform: lowercase;
}

#markdown-input, #html-output, #preview {
    border: none;
    border-radius: 23px;
    width: 70%;
    height: 90%;
    overflow-y: auto;
    padding: 10px;
    margin-top: 10px;
    font-family: monospace !important;
}

#markdown-input {
    resize: none;
}

#html-output, #preview {
    background-color: white;
}