#markdown-input {
    border: none;
    border-radius: 10px;
    width: 60%;
    
}

#html-output {
    border: none;
    border-radius: 10px;
    width: 60%;
    
}

#preview {
    border: none;
    border-radius: 10px;
    width: 60%;
    
}